<a rel='nofollow' href='http://www.qrcode-generator.de' border='0' style='cursor:default'><img src='https://chart.googleapis.com/chart?cht=qr&chl=https%3A%2F%2Femergencyplus-kateyeung561.c9users.io%2Fmedical_records%2F1&chs=180x180&choe=UTF-8&chld=L|2' alt=''></a>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @medical_record.name %>
</p>

<p>
  <strong>DOB:</strong>
  <%= @medical_record.dob %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @medical_record.sex %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @medical_record.phone_number %>
</p>

<p>
  <strong>Address:</strong>
  <%= @medical_record.address %>
</p>

<p>
  <strong>Allergies:</strong>
  <%= @medical_record.allergies %>
</p>

<p>
  <strong>Insurance:</strong>
  <%= @medical_record.insurance %>
</p>

<p>
  <strong>Emergency Contact:</strong>
  <%= @medical_record.emergency_contact %>
</p>

<p>
  <strong>Blood Type:</strong>
  <%= @medical_record.blood_type %>
</p>

<p>
  <strong>Pre Existing Medical Conditions:</strong>
  <%= @medical_record.pre_exsisting_medical_conditions %>
</p>

<p>
  <strong>Primary Doctor:</strong>
  <%= @medical_record.primary_doctor %>
</p>

<p>
  <strong>Medication:</strong>
  <%= @medical_record.medication %>
</p>

<p>
  <strong>Previous Injuries:</strong>
  <%= @medical_record.previous_injuries %>
</p>

<p>
  <strong>Past Hospital Visits:</strong>
  <%= @medical_record.past_hospital_visits %>
</p>

<p>
  <strong>Reason for ER Visit:</strong>
  <%= @medical_record.reason_for_ER_visit %>
</p>

<%= link_to 'Edit', edit_medical_record_path(@medical_record) %> |
<%= link_to 'Back', medical_records_path %>
